<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">


      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">La gestion des villes</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="villeForm">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Code postale</label>
                <input type="number" class="form-control form-control-alternative" placeholder="saisir le code postale"
                  formControlName="codePostale" [(ngModel)]="selectedVille.codePostale">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Nom</label>
                <input type="text" class="form-control form-control-alternative" placeholder="saisir le nom"
                  formControlName="nom" [(ngModel)]="selectedVille.nom">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Region</label>
                <select class="form-control form-control-alternative" formControlName="region"
                  (change)="findRegionById(selectedVille.region)" [(ngModel)]="selectedVille.region">
                  <option *ngFor="let region of regions" [value]="region.id">
                    {{region.nom}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" (click)="operation == 'add' ? addVille() : updateVille()">
                  {{operation == 'add' ? 'Ajouter' :
                      operation == 'edit' ? 'Modifier' : ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Listes des villes</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  CODE POSTALE
                </th>
                <th>
                  NOM
                </th>
                <th>
                  REGION
                </th>
                <th>
                  MODIFIER
                </th>
                <th>
                  SUPPRIMER
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let ville of villes">
                  <td>{{ville.id}}</td>
                  <td>{{ville.codePostale}}</td>
                  <td>{{ville.nom}}</td>
                  <td>{{ville?.region?.nom}}</td>
                  <td><button class="btn btn-outline-warning"
                      (click)="selectedVille=ville;selectedVille.ville=ville.region.id ;operation='edit';">Modifier</button>
                  </td>
                  <td><button class="btn btn-outline-danger"
                      (click)="selectedVille=ville ; deleteVille()">Supprimer</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>