<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
  
  
        </div>
      </div>
    </div>
  </div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">La gestion des employes</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="employeForm">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Nom</label>
                <input type="text" class="form-control form-control-alternative" placeholder="saisir le nom"
                  formControlName="nom" [(ngModel)]="selectedEmploye.nom">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Prenom</label>
                <input type="text" class="form-control form-control-alternative" placeholder="saisir le prenom"
                  formControlName="prenom" [(ngModel)]="selectedEmploye.prenom">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Date de naissance</label>
                <input type="date" class="form-control form-control-alternative" formControlName="dateNaissance"
                  [(ngModel)]="selectedEmploye.dateNaissance">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Lieu de naissance</label>
                <input type="text" class="form-control form-control-alternative" formControlName="lieuNaissance"
                  [(ngModel)]="selectedEmploye.lieuNaissance" placeholder="saisir le lieu de naissance">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Date d'embauche</label>
                <input type="date" class="form-control form-control-alternative" formControlName="dateEmbauche"
                  [(ngModel)]="selectedEmploye.dateEmbauche">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">E-mail</label>
                <input type="text" class="form-control form-control-alternative" placeholder="saisir l'e-mail"
                  formControlName="login" [(ngModel)]="selectedEmploye.login">
              </div>
            </div>
          </div>
        </div>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Mot de passe</label>
                <input type="password" class="form-control form-control-alternative"
                  placeholder="saisir le mot de passe" formControlName="password"
                  [(ngModel)]="selectedEmploye.password">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Profil</label>
                <select class="form-control form-control-alternative" formControlName="profil"
                  (change)="findProfilById(selectedEmploye.profil)" [(ngModel)]="selectedEmploye.profil">
                  <option *ngFor="let profil of profils" [value]="profil.id">
                    {{profil.libelle}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label">Etablissement</label>
                <select class="form-control form-control-alternative" formControlName="etablissement"
                  (change)="findEtablissementById(selectedEmploye.etablissement)"
                  [(ngModel)]="selectedEmploye.etablissement">
                  <option *ngFor="let etablissement of etablissements" [value]="etablissement.id">
                    {{etablissement.nom}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" (click)="operation == 'add' ? addEmploye() : updateEmploye()">
                  {{operation == 'add' ? 'Ajouter' :
                        operation == 'edit' ? 'Modifier' : ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Listes des employes</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  NOM
                </th>
                <th>
                  PRENOM
                </th>
                <th>
                  DATE DE NAISSANCE
                </th>
                <th>
                  LIEU DE NAISSANCE
                </th>
                <th>
                  DATE D'EMBAUCHE
                </th>
                <th>
                  E-MAIL
                </th>
                <th>
                  PROFIL
                </th>
                <th>
                  ETABLISSEMENT
                </th>
                <th>
                  MODIFIER
                </th>
                <th>
                  SUPPRIMER
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let employe of employes">
                  <td>{{employe.id}}</td>
                  <td>{{employe.nom}}</td>
                  <td>{{employe.prenom}}</td>
                  <td>{{employe.dateNaissance}}</td>
                  <td>{{employe.lieuNaissance}}</td>
                  <td>{{employe.dateEmbauche}}</td>
                  <td>{{employe.login}}</td>
                  <td>{{employe?.profil?.libelle}}</td>
                  <td>{{employe?.etablissement?.nom}}</td>
                  <td><button class="btn btn-outline-warning"
                      (click)="selectedEmploye=employe;selectedEmploye.employe=employe.profil.id ;selectedEmploye.employe=employe.etablissement.id ;operation='edit';">Modifier</button>
                  </td>
                  <td><button class="btn btn-outline-danger"
                      (click)="selectedEmploye=employe ; deleteEmploye()">Supprimer</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>