<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">


      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">La gestion des etudiants</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="etudiantForm">
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Nom</label>
              <input type="text" class="form-control form-control-alternative" placeholder="saisir le nom"
                formControlName="nom" [(ngModel)]="selectedEtudiant.nom">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Prenom</label>
              <input type="text" class="form-control form-control-alternative" placeholder="saisir le prenom"
                formControlName="prenom" [(ngModel)]="selectedEtudiant.prenom">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Date de naissance</label>
              <input type="date" class="form-control form-control-alternative" formControlName="dateNaissance"
                [(ngModel)]="selectedEtudiant.dateNaissance">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Lieu de naissance</label>
              <input type="text" class="form-control form-control-alternative" formControlName="lieuNaissance"
                [(ngModel)]="selectedEtudiant.lieuNaissance" placeholder="saisir le lieu de naissance">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Code nationale</label>
              <input type="text" class="form-control form-control-alternative" placeholder="saisir le code nationale"
                formControlName="codeNationale" [(ngModel)]="selectedEtudiant.codeNationale">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Niveau</label>
              <input type="text" class="form-control form-control-alternative"
                placeholder="saisir le niveau" formControlName="niveau"
                [(ngModel)]="selectedEtudiant.niveau">
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label">Etablissement</label>
              <select class="form-control form-control-alternative" formControlName="etablissement"
                (change)="findEtablissementById(selectedEtudiant.etablissement)"
                [(ngModel)]="selectedEtudiant.etablissement">
                <option *ngFor="let etablissement of etablissements" [value]="etablissement.id">
                  {{etablissement.nom}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-primary" (click)="operation == 'add' ? addEtudiant() : updateEtudiant()">
                {{operation == 'add' ? 'Ajouter' :
                      operation == 'edit' ? 'Modifier' : ''}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Listes des etudiants</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                NOM
              </th>
              <th>
                PRENOM
              </th>
              <th>
                DATE DE NAISSANCE
              </th>
              <th>
                LIEU DE NAISSANCE
              </th>
              <th>
                CODE NATIONALE
              </th>
              <th>
                NIVEAU
              </th>
              <th>
                ETABLISSEMENT
              </th>
              <th>
                MODIFIER
              </th>
              <th>
                SUPPRIMER
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let etudiant of etudiants">
                <td>{{etudiant.id}}</td>
                <td>{{etudiant.nom}}</td>
                <td>{{etudiant.prenom}}</td>
                <td>{{etudiant.dateNaissance}}</td>
                <td>{{etudiant.lieuNaissance}}</td>
                <td>{{etudiant.codeNationale}}</td>
                <td>{{etudiant.niveau}}</td>
                <td>{{etudiant?.etablissement?.nom}}</td>
                <td><button class="btn btn-outline-warning"
                    (click)="selectedEtudiant=etudiant;selectedEtudiant.etudiant=etudiant.etablissement.id ;operation='edit';">Modifier</button>
                </td>
                <td><button class="btn btn-outline-danger"
                    (click)="selectedEtudiant=etudiant ; deleteEtudiant()">Supprimer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>